@use "../abstracts/" as *;

.report-block {
  display: flex;
  column-gap: rem(64);
  padding-bottom: rem(64);

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(32);
    max-width: rem(533);

    &--title {
      // font-weight: 700;
      @extend %text-style-heading-4;
      text-align: left;
      // @include font-size(24px);
    }
    
    &--description {
      font-weight: 400;
      @extend %text-style-paragraph-1;
      text-align: left;
    }
  }

  &__img {
    display: flex;
    width: rem(302);
  }
}
